.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: #e1e1e1; */
  padding-bottom: 40px;
}

.heroTitle {
    background: linear-gradient(180deg, rgba(255,255,255,0) 45%, #DCEFF9 45%);
    display: inline;
    color: #357BB9;
}

.subheading{
  font-size: 16px;
  text-align: center;
  color: #7B8997;
  padding-top: 40px;
}

.handbookBody {
  max-width: 644px;
  margin: 48px auto 7rem auto;
}

/* Small (sm) */
@media (min-width: 640px) { 
  .hero img {
    /* max-width: 50%; */
    max-height: 50vh;
    width: auto;
  }
}

/* Medium (md) */
@media (min-width: 768px) { /* ... */ }

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }