.footer{
    background-color: #0E2442;
    padding: 1px 10% 54px 10%;
    color: white;
}
    
.cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.footer a {
  color: white;
  padding-bottom: 4px;
  border-bottom: 3px solid #357bb9;
}

.footer a:hover {
  border-bottom: 3px solid #294668;
  color: #357bb9;
}


.contactEmail a {
  border-bottom: 4px solid #357bb9;
  padding-bottom: 10px;
  font-size: 28px;
}

.contactEmail a:hover {
  border-bottom: 4px solid #294668;
  padding-bottom: 10px;
  color: #357bb9;
}

.header {
  font-size: 18px;
  font-weight: 500;
  color:#357bb9;
  margin-bottom: 18px;
}

.column {
  margin-top: 64px;
  padding-left: 8px;
  padding-right: 8px;
  /* width: 20%; */
}

.footer hr{
  margin-bottom: 64px;
  margin-top: 0px;
}

.footer ul{
  padding-left: 0px;
  list-style-type: none;
}
.footer li{
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Small (sm) */
@media (min-width: 640px) { 
  .contactEmail {
    font-size: 46px;
    line-height: 76px;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem 10% 6rem 10%;
  }

  .header {
    font-size: 18px;
    font-weight: 500;
    color:#357bb9;
    margin-bottom: 0px;
  }
  
}

/* Medium (md) */
@media (min-width: 768px) { /* ... */ }

/* Large (lg) */
@media (min-width: 1024px) { /* ... */ }

/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }