.bar {
  display: flex;
  justify-content: center;
  border-top: 1px solid #DCEFF9;
  border-bottom: 1px solid #DCEFF9;
  color: #74B9E9;
  box-shadow: 0px 0px 2px #DCEFF9;
  background-color: white;
}

.bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-left: 20px;
  padding-inline-start: 0;
  font-size: 12px;
  margin: 12px 0 6px 0;
}

.bar li a{
  color: #213147;
}
.bar li a:hover {
  color: #357BB9;
}

.bar li:after { 
  content: "•";
  padding: 0 12px;
  color: #DCEFF9;
  font-size: 18px;
  line-height: 12px;
  transform: translateY(1px);
  display: inline-block;
}
.bar li:first-child:after { content: ""; }
.bar li:last-child:after { content: ""; }

.bar .active {
  display: inline-block;
  border-bottom: 4px solid #DCEFF9;
  padding: 0 2px;
  transform: translateY(-5px);
}

.mobileNav {
  background-color: #F6F8FA;
}

.mobileNav ul {
  list-style: none;
  padding: 20px 40px 40px;
  max-width: 644px;
  margin: 0 auto;
}

.mobileNav li:first-child {
  padding: 10px 0 6px 0;
  color: #B3BDC7;
  font-size: 14px;
  text-transform: uppercase;
}

.mobileNav li:not(:first-child) {
  padding: 4px 12px;
  margin: 7px;
  border-radius: 8px 16px;
  width: fit-content;
  background: #2C649C;
  border-radius: 3px;
  font-size: 14px;
}
.mobileNav li:not(:first-child):hover {
  background: #357BB9;
  box-shadow: 0px 0px 6px #357BB9;
  cursor: pointer;
}

.mobileNav li a{
  color: white;
}


.mobileNav li:first-child {

}
